* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  opacity: 0;
  transition: 1s;
  max-width: 100%;
  background-color: #fafafa;
}
.page-outline {
  padding: 24px;
}
.flex {
  display: flex;
}
.pad-l-xxs {
  padding-left: 8px;
}
.flex-items-center {
  align-items: center;
}
.pad-t-xl {
  padding-top: 64px;
}
.pad-t-lg {
  padding-top: 48px;
}
.pad-t-sm {
  padding-top: 24px;
}
.pad-t-xs {
  padding-top: 16px;
}

.icon-md {
  height: 32px;
  width: 32px;
}
.icon-sm {
  height: 24px;
  width: 24px;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.border-left {
  border-left: 2px solid #000;
}
.pad-l-xs {
  padding-left: 16px;
}
.pad-r-xs {
  padding-right: 16px;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 48px;
}
.text-gray-400 {
  color: #a4a4a4;
}

.text-b {
  color: #000000;
  font-weight: 550;
}
.li-s {
  margin: 0px 30px;
  transition: 0.5s;
}
.li-s:hover {
  color: #000;
}
.ul-li {
  list-style: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.button-bg {
  background: #000000;
  color: #ffffff;
}
.strike {
  font-size: 16px;
  text-decoration: line-through;
}
img {
  transition: 0.2s;
}
img:hover {
  transform: scale(105%);
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 1px solid #fafafa;
}

.dot-b {
  background-color: #000000;
}
.dot-h {
  background-color: #565251;
}
.dot-k {
  background-color: #ce9503;
}
.dot-p {
  background-color: #8f8b7f;
}
.dot-l {
  background-color: #cac0bd;
}
.left-0 {
  left: 0px;
}
.left-10 {
  left: 10px;
}
.left-20 {
  left: 20px;
}
.left-30 {
  left: 30px;
}
.left-40 {
  left: 40px;
}
.w-95 {
  width: 95%;
}
.bg-gradient {
  background: linear-gradient(
    to top,
    #f2f2f2 54%,
    #f5f5f5 50%,
    #ededed 100%
  ) !important;
}
.cursor-pointer {
  cursor: pointer;
}

.bg-white {
  background-color: white;
}
.radius-lg {
  border-radius: 48px;
}
.pad-l-xs {
  padding-left: 16px;
}
.btn-transition {
  transition: 0.3s;
}
.btn-transition:hover {
  background-color: #444444;
  color: white;
}
.grid {
  display: grid;
}
.grid-col-5 {
  grid-template-columns: auto auto auto auto auto;
}
.gap-8 {
  grid-gap: 8px;
}
.pad-xs {
  padding: 16px;
}
.border-gray-400 {
  border: 1px solid #a4a4a4;
}
.inline-block {
  display: inline-block;
}

.pad-b-xs {
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  .display-none {
    display: none;
  }
  .page-outline {
    padding: 16px;
  }
  .pad-t-xs-md {
    padding-top: 16px;
  }
  .text-lg {
    font-size: 32px;
  }
  .pad-t-sm-md {
    padding-top: 24px;
  }
  .pad-t-md-md {
    padding-top: 32px;
  }
  .pad-t-xxs-md {
    padding-top: 8px;
  }
  .grid-col-3-md {
    grid-template-columns: auto auto auto;
  }
  .grid-col-2-md {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 468px) {
  .text-lg {
    font-size: 24px;
  }
  .pad-t-xxs-sm {
    padding-top: 8px;
  }
  .grid-col-2-sm {
    grid-template-columns: auto auto;
  }
  .grid-col-1-sm {
    grid-template-columns: auto;
  }
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
  gap: 24px;
}

.box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background: #fff;
  text-align: center;
  position: relative;
  transition: all ease-in 0.2s;
}

.box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}
.z-2 {
  z-index: 2;
}
.bottom-0 {
  bottom: 0;
}
.pad-sm {
  padding: 24px 0px 24px 24px;
}
.align-start {
  text-align: start;
}
.text-20 {
  font-size: 20px;
}
